@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Nanum+Gothic&family=PT+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'IM Fell English SC', sans-serif;
}

a {
    text-decoration: none;
}

.hero-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */

#hero {
    background-image: url(/assets/images/The\ Feathered\ Duck\ Inn\ Hero\ Image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: .6;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #96a274;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transperant;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: white;
    background-color: black;
}

/* Keyframes */

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #96a274;
    }
}