@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Nanum+Gothic&family=PT+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'IM Fell English SC', sans-serif;
}

a {
    text-decoration: none;
}

.hero-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fa-martini-glass-citrus {
    font-size: 30px;
    color: #96a274;
}

.fa-utensils {
    font-size: 30px;
    color: #96a274;
}

.fa-people-group {
    font-size: 30px;
    color: #96a274;
}

.fa-phone {
    font-size: 30px;
    color: #96a274;
}

.fa-envelope {
    font-size: 30px;
    color: #96a274;
}

.fa-location-dot {
    font-size: 30px;
    color: #96a274;
}

.fa-facebook {
    font-size: 28px;
    color: #96a274;
}

.fa-instagram {
    font-size: 30px;
    color: #96a274;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: #96a274;
}

.socials h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #96a274;
}

/* Header Section */

#header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}


#header img {
    width: 20%;
    margin-left: 20px;
}

#header .header-container {
    min-height: 8vh;
    background-color: rgb(31, 30, 30, 0);
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 0 auto;
}


#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30, 0.75);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .8s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #96a274;
    font-size: 10rem;
    letter-spacing: 20px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #96a274;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.9);
    margin-right: 20px;
}

#header .hamburger .bar {
    height: 5px;
    width: 30px;
    position: relative;
    background-color: #96a274;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #96a274;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* Hero Section */

#hero {
    background-image: url(assets/images/the-feathered-duck-inn-hero-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: .6;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #96a274;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transperant;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: white;
    background-color: black;
}

/* about us section */


#about-us .about-us-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
}

#about-us .page-title {
    font-size: 5rem;
    font-weight: 300;
    color: #96a274;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#about-us .about-us-top p {
    font-size: 3em;
    margin: 0 75px 75px 75px;
    line-height: 2.5rem;
    letter-spacing: .05rem;
    font-family: 'IM Fell English SC', sans-serif;
    justify-content: center;
}

#about-us .about-us-top {
    margin: 0 auto;
}

#about-us .about-us-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#about-us .about-us-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-image: url(assets/images/feathered-duck-inn-restaurant.jpg);
    background-size: cover;
    margin: 15px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#about-us .about-us-item-2 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-image: url(assets/images/feathered-duck-inn-restaurant-2.jpg);
    background-size: cover;
    margin: 15px 5%;
    position: relative;
    z-index: 1;
}

#about-us .about-us-item-3 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-image: url(assets/images/feathered-duck-inn-team.jpg);
    background-size: cover;
    margin: 15px 5%;
    position: relative;
    z-index: 1;
}

#about-us .about-us-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: .4;
    z-index: -1;
}

#about-us .about-us-item-2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: .4;
    z-index: -1;
}


#about-us .about-us-item-3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: .4;
    z-index: -1;
}

#about-us .about-us-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#about-us .about-us-item h2 {
    font-size: 2.9rem;
    color: #EBC7B2;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#about-us .about-us-item p {
    font-size: 1.7rem;
    color: #EBC7B2;
    text-align: left;
    line-height: 1.9rem;
}

#about-us .about-us-item-2 h2 {
    font-size: 2.9rem;
    color: #EBC7B2;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#about-us .about-us-item-2 p {
    font-size: 1.7rem;
    color: #EBC7B2;
    text-align: left;
    line-height: 1.9rem;
}

#about-us .about-us-item-3 h2 {
    font-size: 2.9rem;
    color: #EBC7B2;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#about-us .about-us-item-3 p {
    font-size: 1.7rem;
    color: #EBC7B2;
    text-align: left;
    line-height: 1.9rem;
}

/* Menus Section */

#menus .page-title {
    font-size: 5rem;
    font-weight: 300;
    color: #96a274;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#menus .menus-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
}

#menus .menus {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#menus .menus-header h1 {
    margin-bottom: 30px;
}

#menus .all-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menus .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

#menus .menu-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #EBC7B2;
    width: 100%;
}

#menus .menu-info h2 {
    font-size: 30px;
    font-weight: 300;
}

#menus .menu-info p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

#menus .menu-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
}

#menus .menu-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    opacity: 0.9;
}

#menus .menu-items:hover .menu-img img {
    transform: scale(1.1);
    transition: .5s ease;
}

/* Blog Section */

#blog .blog {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#blog .blog-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
}


#blog .col-left {
    width: 400px;
    height: 560px;
    margin: auto;
}

#blog .col-right {
    width: 100%;
}

#blog .col-right h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .3rem;
    margin-bottom: 10px;
    text-align: center;
}

#blog .col-right h1 {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .3rem;
    margin-bottom: 20px;
    color: #96a274;
}

#blog .col-right p {
    margin-bottom: 20px;
    font-size: 1.7rem;
    text-align: center;
}

#blog .col-right .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #101010;
    background-color: transperant;
    border: 2px solid #101010;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#blog .cta:hover {
    color: white;
    background-color: #96a274;
}

#blog .col-right .cta {
    margin-bottom: 30px;
    font-size: 2rem;
}

#blog .col-left .blog-img {
    height: 55%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#blog .col-left .blog-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #96a274;
    z-index: -1;
}

/* Contact Us Section */

#contact-us .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact-us .contact-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
}


#contact-us .contact-title {
    font-size: 5rem;
    font-weight: 300;
    color: #96a274;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#contact-us .contact-info {
    width: 100%;
    padding: 30px 0 0 30px;     
}

#contact-us .contact-note {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0;
    transition: .3s ease box-shadow;
}

#contact-us .contact-note:hover {
    box-shadow: 0px 0px 5px 0 black;
}

#contact-us .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact-us .contact-item h1 {
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 5px;
    color: #101010;
}

#contact-us .contact-item h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

/* Footer Section */

#footer {
    background-image: linear-gradient(60deg, slategrey 0%, #101010 100%)
}

#footer .footer {
    min-height: 175px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .footer-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0;
}


#footer .social-icons {
    display: flex;
    margin: 30px;
    justify-content: center;
}

#footer .social-note {
    height: 50px;
    width: 50px;
    margin: 0 5px;
    text-align: center;
}

#footer .social-note i {
    filter: grayscale(1);
}

#footer .social-note:hover i {
    filter: grayscale(0);
    transition: .1s ease filter;
}

#footer p {
    color: #96a274;
    font-size: 1.5rem;
}

/* Booking Page Section */

.hero-container-1 {
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#booking p {
    color: #96a274;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
} 

#booking .your-name {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

#booking .email {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

#booking .date {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

#booking .time {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

#booking .people {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

#booking .submit {
    justify-content: center;
}

#booking .cta {
        display: inline-block;
        padding: 10px 30px;
        color: #96a274;
        background-color: transperant;
        border: 2px solid white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .3s ease;
        transition-property: background-color, color;
}

/* Booking Complete Form */

#hero .hero-container-1 p {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}


/* Meet The Team Page */

#mtt {
    min-height: 1450px;
    position: relative;
}

#mtt .meet-the-team h1 {
    text-align: center;
    color: #96a274;
    font-size: 5rem;
    padding: 10px;
}

#mtt .meet-the-team p {
    text-align: center;
    color: #101010;
    font-size: 2.5rem;
    padding: 10px;
}

#mtt .meet-the-team .team {
    float: left;
    width: 50%;
}

#mtt .meet-the-team .team h1 {
    color: #96a274;
    font-size: 4rem;
}

/* Kitchen Team */

#mtt .meet-the-team .team1 h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team1 p {
    color: #101010;
    font-size: 1.9rem;
}

#mtt .meet-the-team .team1 img {
    float: right;
    height: 15%;
    width: 45%;
}

#mtt .meet-the-team .team-sous h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}

#mtt .meet-the-team .team-sous p {
    color: #101010;
    font-size: 1.9rem;
}

#mtt .meet-the-team .team-sous img {
    float: right;
    height: 15%;
    width: 45%;
    padding-top: 20px;
}

#mtt .meet-the-team .team-pastry h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}

#mtt .meet-the-team .team-pastry p {
    color: #101010;
    font-size: 1.9rem;
}

#mtt .meet-the-team .team-pastry img {
    float: right;
    height: 15%;
    width: 45%;
    padding-top: 20px;
}

/* FOH Team */

#mtt .meet-the-team .team2 h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team2 p {
    color: #101010;
    font-size: 1.9rem;
}

#mtt .meet-the-team .team2 img {
    float: right;
    height: 25%;
    width: 45%;
}

#mtt .meet-the-team .team-waiter h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 20px 50px 10px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team-waiter p {
    color: #101010;
    font-size: 1.9rem;
}

#mtt .meet-the-team .team-waiter img {
    float: right;
    height: 25%;
    width: 45%;
    padding-top: 20px;
}

#mtt .meet-the-team .team-waitress h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 20px 50px 10px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team-waitress p {
    color: #101010;
    font-size: 1.9rem;
}

#mtt .meet-the-team .team-waitress img {
    float: right;
    height: 25%;
    width: 45%;
    padding-top: 20px;
}



/* Keyframes */

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #96a274;
    }
}

/* Media queries for tablet */

@media only screen and (min-width:768px) {
    #hero .cta {
        font-size: 3rem;
        padding: 20px 60px;
    }

    /* Hero Section */

    #hero h1 {
        font-size: 8.75rem;
    }

    /* About Us Section */



    /* Menus */

    #menus .menu-items {
        flex-direction: row;
    }

    #menus .menu-items:nth-child(even) {
        flex-direction: row-reverse;
    }

    #menus .menu-items {
        height: 600px;
        margin: 0;
        width: 85%;
        border-radius: 0;
    }

    #menus .all-menus .menu-info {
        height: 100%;
    }

    #menus .all-menus .menu-img {
        height: 100%;
    }

    /* Blog Section */

    #blog .blog {
        flex-direction: row;
    }

    #blog .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
        margin: auto;
    }

    #blog .col-left .blog-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #96a274;
    }

    #blog .col-right {
        text-align: left;
        padding: 30px;
    }

    #blog .col-right h1 {
        text-align: center;
    }

    /* Contact Us Section */

    #contact-us .contact-us {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact-us .contact-info {
        width: 75%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0 0;
        margin: auto;
        justify-content: center;
    }

    #contact-us .contact-note {
        margin: 15px;
        flex-direction: row-reverse;
        padding-right: 50px;
    }

    #contact-us .contact-note .icon {
        height: 15px;
        width: 100px;
        text-align: center;
    }

    #contact-us .contact-note .contact-item {
        width: 100%;
        text-align: center;
        padding-left: 10px;
    }

    /* Booking Section */ 

    #booking p {
        color: #96a274;
        text-align: center;
        font-size: 4rem;
        justify-content: center;
    } 

    #booking .your-name {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 25%;
    }
    
    #booking .email {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 25%;
    }
    
    #booking .date {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 25%;
    }
    
    #booking .time {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 25%;
    }
    
    #booking .people {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 25%;
    }
    
    #booking .submit {
        text-align: center;
        min-height: 100%;
        min-width: auto;
        margin-top: 25px;
    }

/* Meet The Team Section */

#mtt {
    min-height: 1200px;
    position: relative;
}

#mtt .meet-the-team .team1 img {
    float: right;
    height: 15%;
    width: 25%;
}

#mtt .meet-the-team .team1 p {
    color: #101010;
    font-size: 2.5rem;
}

#mtt .meet-the-team .team1 h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team2 img {
    float: right;
    height: 15%;
    width: 25%;
}

#mtt .meet-the-team .team2 p {
    color: #101010;
    font-size: 2.5rem;
}

#mtt .meet-the-team .team2 h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team-waiter img {
    float: right;
    height: 25%;
    width: 25%;
}

#mtt .meet-the-team .team-waiter p {
    color: #101010;
    font-size: 2.5rem;
}

#mtt .meet-the-team .team-waiter h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team-waitress img {
    float: right;
    height: 25%;
    width: 25%;
}

#mtt .meet-the-team .team-waitress p {
    color: #101010;
    font-size: 2.5rem;
}

#mtt .meet-the-team .team-waitress h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team-sous img {
    float: right;
    height: 15%;
    width: 25%;
}

#mtt .meet-the-team .team-sous p {
    color: #101010;
    font-size: 2.5rem;
}

#mtt .meet-the-team .team-sous h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

#mtt .meet-the-team .team-pastry img {
    float: right;
    height: 15%;
    width: 25%;
}

#mtt .meet-the-team .team-pastry p {
    color: #101010;
    font-size: 2.5rem;
}

#mtt .meet-the-team .team-pastry h3 {
    color: #101010;
    font-size: 2.5rem;
    padding: 10px 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}
    
}

/* Media Queries for Desktop */

@media only screen and (min-width: 1200px){
    
    /* Header/Navbar */

    #header .hamburger {
        display: none;
    }

    #header .nav-list {
        margin-right: 60px;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.7rem;
    }

    #about-us .about-us-bottom .about-us-item .about-us-item-2 .about-us-item-3 {
        flex-basis: 22%;
        margin: 1.5%;
    }

    /* Booking Section */ 

    #booking p {
        color: #96a274;
        text-align: center;
        font-size: 5rem;
        justify-content: center;
    } 

    #booking .your-name {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 17%;
    }
    
    #booking .email {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 17%;
    }
    
    #booking .date {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 17%;
    }
    
    #booking .time {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 17%;
    }
    
    #booking .people {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 17%;
    }
    
    #booking .submit {
        text-align: center;
        min-height: 100%;
        min-width: auto;
        margin-top: 25px;
    }

    /* Meet The Team Section */

    #mtt .meet-the-team .team h1 {
        color: #96a274;
        font-size: 5rem;
    }

    #mtt .meet-the-team h1 {
        text-align: center;
        color: #96a274;
        font-size: 6.5rem;
        padding: 10px;
    }

    #mtt .meet-the-team p {
        text-align: center;
        color: #101010;
        font-size: 3.2rem;
        padding: 10px;
    }


    #mtt {
        min-height: 1250px;
        position: relative;
    }
    
    #mtt .meet-the-team .team1 img {
        float: right;
        height: 15%;
        width: 25%;
    }
    
    #mtt .meet-the-team .team1 p {
        color: #101010;
        font-size: 3rem;
    }

    #mtt .meet-the-team .team1 h3 {
        color: #101010;
        font-size: 3rem;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }
    
    #mtt .meet-the-team .team2 img {
        float: right;
        height: 15%;
        width: 25%;
    }
    
    #mtt .meet-the-team .team2 p {
        color: #101010;
        font-size: 3rem;
    }

    #mtt .meet-the-team .team2 h3 {
        color: #101010;
        font-size: 3.2rem;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }
    
    #mtt .meet-the-team .team-waiter img {
        float: right;
        height: 25%;
        width: 25%;
    }
    
    #mtt .meet-the-team .team-waiter p {
        color: #101010;
        font-size: 3rem;
    }

    #mtt .meet-the-team .team-waiter h3 {
        color: #101010;
        font-size: 3.2rem;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }
    
    #mtt .meet-the-team .team-waitress img {
        float: right;
        height: 25%;
        width: 25%;
    }
    
    #mtt .meet-the-team .team-waitress p {
        color: #101010;
        font-size: 3rem;
    }

    #mtt .meet-the-team .team-waitress h3 {
        color: #101010;
        font-size: 3.2rem;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }
    
    #mtt .meet-the-team .team-sous img {
        float: right;
        height: 15%;
        width: 25%;
    }
    
    #mtt .meet-the-team .team-sous p {
        color: #101010;
        font-size: 3rem;
    }

    #mtt .meet-the-team .team-sous h3 {
        color: #101010;
        font-size: 3.2rem;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }
    
    #mtt .meet-the-team .team-pastry img {
        float: right;
        height: 15%;
        width: 25%;
    }
    
    #mtt .meet-the-team .team-pastry p {
        color: #101010;
        font-size: 3rem;
    }

    #mtt .meet-the-team .team-pastry h3 {
        color: #101010;
        font-size: 3.2rem;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }

}